body{
  margin: 0;
  padding: 0;
}

.bar{
  width: 100px;
  height: fill-available;
  height: -moz-available;
  height: -webkit-fill-available;  
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.i{
  width: 60px;
  height: 60px;
}
.red{
  background: #fff;
}
.blue{
  background: blue;
}
.yellow{
  background: yellow;
}
.green{
  background: green;
}
.pink{
  background: pink;
}